build

# MPS
workspace.xml

classes_gen
source_gen
source_gen.caches

test_gen
test_gen.caches
TEST-*.xml
junit*.properties

# IDEA
java_src/EditorToText_IDEA/.idea/*
!java_src/EditorToText_IDEA/.idea/libraries/
java_src/EditorToText_IDEA/out/

*.iws